@import "reset.css"; 

$gridwidth: 12;

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat($gridwidth, 1fr);
}

@for $i from 1 through 50 {
    .gap-#{$i} {
      column-gap: #{$i}px;
    }
}

.gap-sm {
    column-gap: 10px;
}

.gap-md {
    column-gap: 25px;
}

.gap-lg {
    column-gap: 50px;
}

$alignments: start, end, center, stretch, space-around, space-between, space-evenly;

@each $alignment in $alignments {
  .align-#{$alignment}  {
    align-content: $alignment;
  }
}


.col {
    grid-column: span $gridwidth;
}


@for $i from 1 through 12 {
    .col-md-#{$i} {
      grid-column: span 12;
    }
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
      grid-column: span 12;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span $i;
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
          grid-column: span $i;
        }
    }
}

@media (min-width: 992px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
          grid-column: span $i;
        }
    }
}