@import "reset.css";

$gridwidth: 12;

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat($gridwidth, 1fr);
}

@for $i from 1 through 50 {
    .gap-#{$i} {
      column-gap: #{$i}px;
    }
}

.gap-sm {
    column-gap: 10px;
}

.gap-md {
    column-gap: 25px;
}

.gap-lg {
    column-gap: 50px;
}

$justifyalignments: flex-start, flex-end, center;
$alignments: x;

@each $alignment in $justifyalignments {
  .justify-#{$alignment} > div {
    justify-content: $alignment;
  }

  .align-#{$alignment} > div {
    align-items: $alignment;
  }
}

.container > * {
    border: 1px solid red;
}

.col {
    grid-column: span $gridwidth;
    display: flex;
}

@for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span $i;
      display: flex;
    }
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
      grid-column: span 12;
      display: flex;
    }
}

@for $i from 1 through 12 {
    .col-lg-#{$i} {
      grid-column: span 12;
      display: flex;
    }
}

@media (min-width: 768px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
          grid-column: span $i;
        }
    }
}

@media (min-width: 992px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
          grid-column: span $i;
        }
    }
}